
<div class="row">
<div  *ngFor="let pizza of pizzaList" class="card" style="width: 20rem;margin: 2%;">
    <img src="{{pizza.Image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 15px;">{{pizza.Name}}</h5>
      <p class="card-text" style="font-size: 12px;margin-bottom: 0.5px;">{{pizza.Description}}</p>
      <p style="margin-bottom: 0.5px;"><b style="color: rgb(7, 131, 7);font-size: 15px;">₹ {{pizza.Totalprice}}</b></p>
      <div class="row">   
      <div class="card">
        <div class="card-body" style="font-size: 12px;">
            <h6 class="card-title">Size</h6>
            <div *ngFor="let s of pizza.Size; let i = index" class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [value]="s.Selected" [checked]="s.Selected" (click)="updateSizeIschecked(pizza,s)" name="pizzaSize{{ pizza.Id}}" id="radio{{ pizza.Id+i  }}" >
                <label class="form-check-label" for="radio{{ pizza.Id+i }}">{{s.Name}}(₹{{s.Price}})</label>
              </div>
        </div></div>
      </div>
      <div class="row">   
      <div class="card">
        <div class="card-body" style="font-size: 12px;">
            <h6 class="card-title">Cheese</h6>
            <div *ngFor="let c of pizza.Cheese; let i = index" class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [value]="c.Selected" [checked]="c.Selected" (click)="updatecheeseIschecked(pizza,c)" name="pizzaCheese{{ pizza.Id}}" id="radioCheese{{ pizza.Id+i  }}" >
                <label class="form-check-label" for="radioCheese{{ pizza.Id+i }}">{{c.Name}}(₹{{c.Price}})</label>
              </div>
        </div>
      </div></div>
      <div class="row">   
        <div class="card">
        <div class="card-body" style="font-size: 12px;">
            <h6 class="card-title">Toppings</h6>
            <div class="form-check" *ngFor="let t of pizza.Toppings; let i = index">
                <input class="form-check-input" type="checkbox" (change)="calculateTotalPrice(pizza)"  [(ngModel)]="t.Selected"  id="toppings{{ pizza.Id+i}}">
                <label class="form-check-label" for="toppings{{ pizza.Id+i}}">
                    {{t.Name}} (₹{{t.Price}})
                </label>
              </div>
        </div>
      </div></div>
      <div class="row">   
        <div class="card">
        <div class="card-body" style="font-size: 12px;">
            <h6 class="card-title">Sauce</h6>
            <div class="form-check" *ngFor="let sa of pizza.Sauce; let i = index">
                <input class="form-check-input" type="checkbox" (change)="calculateTotalPrice(pizza)"  [(ngModel)]="sa.Selected"  id="toppings{{ pizza.Id+i}}">
                <label class="form-check-label" for="toppings{{ pizza.Id+i}}">
                    {{sa.Name}} (₹{{sa.Price}})
                </label>
              </div>
        </div>
      </div></div>
      <div class="row"> <a  class="btn btn-primary" (click)="placeOrder(pizza)">Place Order</a></div>
     
    </div>
  </div>
  </div>